In [1]:
import pandas as pd
import numpy as np8

from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support

from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

plt.style.use('ggplot')

In [2]:
df = pd.read_csv('data/online_shoppers_intention.csv')

In [3]:
df.head(60)

# Features that look important:

# BounceRates
# ExitRates

# Revenue


# Month
# Weekend

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
5,0,0.0,0,0.0,19,154.216667,0.015789,0.024561,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
6,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.4,Feb,2,4,3,3,Returning_Visitor,False,False
7,1,0.0,0,0.0,0,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,2,1,5,Returning_Visitor,True,False
8,0,0.0,0,0.0,2,37.000000,0.000000,0.100000,0.000000,0.8,Feb,2,2,2,3,Returning_Visitor,False,False
9,0,0.0,0,0.0,3,738.000000,0.000000,0.022222,0.000000,0.4,Feb,2,4,1,2,Returning_Visitor,False,False
10,0,0.0,0,0.0,3,395.000000,0.000000,0.066667,0.000000,0.0,Feb,1,1,3,3,Returning_Visitor,False,False
11,0,0.0,0,0.0,16,407.750000,0.018750,0.025833,0.000000,0.4,Feb,1,1,4,3,Returning_Visitor,False,False
12,0,0.0,0,0.0,7,280.500000,0.000000,0.028571,0.000000,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
13,0,0.0,0,0.0,6,98.000000,0.000000,0.066667,0.000000,0.0,Feb,2,5,1,3,Returning_Visitor,False,False
14,0,0.0,0,0.0,2,68.000000,0.000000,0.100000,0.000000,0.0,Feb,3,2,3,3,Returning_Visitor,False,False
15,2,53.0,0,0.0,23,1668.285119,0.008333,0.016313,0.000000,0.0,Feb,1,1,9,3,Returning_Visitor,False,False
16,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,4,3,Returning_Visitor,False,False
17,0,0.0,0,0.0,13,334.966667,0.000000,0.007692,0.000000,0.0,Feb,1,1,1,4,Returning_Visitor,True,False
18,0,0.0,0,0.0,2,32.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
19,0,0.0,0,0.0,20,2981.166667,0.000000,0.010000,0.000000,0.0,Feb,2,4,4,4,Returning_Visitor,False,False
20,0,0.0,0,0.0,8,136.166667,0.000000,0.008333,0.000000,1.0,Feb,2,2,5,1,Returning_Visitor,True,False
21,0,0.0,0,0.0,2,0.000000,0.200000,0.200000,0.000000,0.0,Feb,3,3,1,3,Returning_Visitor,False,False
22,0,0.0,0,0.0,3,105.000000,0.000000,0.033333,0.000000,0.0,Feb,3,2,1,5,Returning_Visitor,False,False
23,0,0.0,0,0.0,2,15.000000,0.000000,0.100000,0.000000,0.8,Feb,2,4,1,3,Returning_Visitor,False,False
24,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,2,2,4,1,Returning_Visitor,True,False
25,0,0.0,0,0.0,5,156.000000,0.000000,0.040000,0.000000,0.0,Feb,1,1,9,3,Returning_Visitor,False,False
26,4,64.6,0,0.0,32,1135.444444,0.002857,0.009524,0.000000,0.0,Feb,2,2,1,3,Returning_Visitor,False,False
27,0,0.0,0,0.0,4,76.000000,0.050000,0.100000,0.000000,0.0,Feb,1,1,1,3,Returning_Visitor,False,False
28,0,0.0,0,0.0,4,63.000000,0.000000,0.050000,0.000000,0.2,Feb,2,6,1,3,Returning_Visitor,False,False
29,1,6.0,1,0.0,45,1582.750000,0.043478,0.050821,54.179764,0.4,Feb,3,2,1,1,Returning_Visitor,False,False
30,0,0.0,0,0.0,2,35.000000,0.000000,0.100000,0.000000,0.0,Feb,1,1,6,3,Returning_Visitor,False,False
31,0,0.0,0,0.0,3,78.000000,0.000000,0.066667,0.000000,0.0,Feb,1,2,6,6,Returning_Visitor,True,False
32,0,0.0,0,0.0,8,209.500000,0.000000,0.025000,0.000000,0.0,Feb,2,2,1,1,Returning_Visitor,False,False
33,0,0.0,0,0.0,10,183.666667,0.040000,0.080000,0.000000,0.0,Feb,1,1,3,1,Returning_Visitor,False,False
34,0,0.0,0,0.0,14,380.500000,0.014286,0.028571,0.000000,0.0,Feb,2,2,1,1,Returning_Visitor,False,False
35,0,0.0,0,0.0,52,2086.242857,0.015385,0.020353,0.000000,0.0,Feb,2,2,7,1,Returning_Visitor,False,False
36,0,0.0,0,0.0,8,388.000000,0.025000,0.056250,0.000000,0.0,Feb,3,2,1,4,Returning_Visitor,True,False
37,2,18.0,0,0.0,5,298.000000,0.000000,0.028571,0.000000,0.8,Feb,2,2,8,4,Returning_Visitor,False,False
38,0,0.0,0,0.0,7,63.000000,0.028571,0.071429,0.000000,0.6,Feb,2,2,1,3,Returning_Visitor,False,False
39,0,0.0,0,0.0,9,482.000000,0.000000,0.022222,0.000000,0.0,Feb,2,5,1,6,Returning_Visitor,False,False
40,1,9.0,0,0.0,46,4084.393939,0.000000,0.001795,0.000000,0.0,Feb,2,2,8,4,Returning_Visitor,False,False
41,0,0.0,0,0.0,3,22.000000,0.000000,0.066667,0.000000,0.6,Feb,1,1,3,2,Returning_Visitor,False,False
42,0,0.0,0,0.0,15,310.166667,0.000000,0.006667,0.000000,0.0,Feb,1,1,4,4,Returning_Visitor,False,False
43,0,0.0,0,0.0,2,34.000000,0.000000,0.050000,0.000000,0.4,Feb,3,2,2,3,Returning_Visitor,False,False
44,0,0.0,0,0.0,4,88.000000,0.000000,0.050000,0.000000,0.0,Feb,4,1,1,3,Returning_Visitor,False,False
45,0,0.0,0,0.0,22,622.250000,0.003030,0.006061,0.000000,0.2,Feb,2,5,1,4,Returning_Visitor,False,False
46,0,0.0,0,0.0,14,222.400000,0.017143,0.057143,0.000000,0.0,Feb,1,1,1,2,Returning_Visitor,False,False
47,0,0.0,0,0.0,3,80.000000,0.066667,0.133333,0.000000,0.2,Feb,3,2,1,3,Returning_Visitor,False,False
48,0,0.0,0,0.0,11,800.833333,0.000000,0.003636,0.000000,0.0,Feb,3,2,1,3,Returning_Visitor,False,False
49,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.6,Feb,2,2,3,2,Returning_Visitor,False,False
50,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,3,4,Returning_Visitor,True,False
51,0,0.0,0,0.0,12,265.166667,0.011111,0.026111,0.000000,0.2,Feb,3,2,1,3,Returning_Visitor,False,False
52,0,0.0,0,0.0,2,29.000000,0.000000,0.100000,0.000000,1.0,Feb,2,4,4,2,Returning_Visitor,True,False
53,0,0.0,0,0.0,4,160.000000,0.000000,0.075000,0.000000,0.0,Feb,4,2,2,3,Returning_Visitor,False,False
54,0,0.0,0,0.0,4,135.666667,0.050000,0.025000,0.000000,0.4,Feb,3,3,1,4,Returning_Visitor,False,False
55,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.2,Feb,2,4,1,3,Returning_Visitor,False,False
56,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.6,Feb,3,2,3,3,Returning_Visitor,False,False
57,4,56.0,2,120.0,36,998.741667,0.000000,0.014736,19.447079,0.2,Feb,2,2,4,1,Returning_Visitor,False,False
58,0,0.0,0,0.0,4,104.000000,0.000000,0.050000,0.000000,0.4,Feb,2,6,6,3,Returning_Visitor,False,False
59,2,16.0,0,0.0,16,381.686508,0.011765,0.046569,0.000000,0.6,Feb,2,4,2,1,Returning_Visitor,False,False

In [4]:
display(df.describe())

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157213,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000

In [5]:
df.isna().any()

Administrative             False
Administrative_Duration    False
Informational              False
Informational_Duration     False
ProductRelated             False
ProductRelated_Duration    False
BounceRates                False
ExitRates                  False
PageValues                 False
SpecialDay                 False
Month                      False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
VisitorType                False
Weekend                    False
Revenue                    False
dtype: bool

In [6]:
(df.isna().sum()/df.shape[0]).round(4) * 100

Administrative             0.0
Administrative_Duration    0.0
Informational              0.0
Informational_Duration     0.0
ProductRelated             0.0
ProductRelated_Duration    0.0
BounceRates                0.0
ExitRates                  0.0
PageValues                 0.0
SpecialDay                 0.0
Month                      0.0
OperatingSystems           0.0
Browser                    0.0
Region                     0.0
TrafficType                0.0
VisitorType                0.0
Weekend                    0.0
Revenue                    0.0
dtype: float64

In [7]:
# source: https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe
# a function that provides a summary of the  missing values in a dataset

def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(df)

Your selected dataframe has 18 columns and 12330 Rows.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Zero Values, Missing Values, % of Total Values, Total Zero Missing Values, % Total Zero Missing Values, Data Type]
Index: []

In [8]:
df.groupby('VisitorType')['Administrative'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    27
New_Visitor          16
Other                 9
Name: Administrative, dtype: int64

In [9]:
df.groupby('VisitorType')['Administrative_Duration'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    2931
New_Visitor           813
Other                  34
Name: Administrative_Duration, dtype: int64

In [10]:
df.groupby('VisitorType')['Informational'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    17
New_Visitor          10
Other                 4
Name: Informational, dtype: int64

In [11]:
df.groupby('VisitorType')['Informational_Duration'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    1168
New_Visitor           203
Other                   7
Name: Informational_Duration, dtype: int64

In [12]:
df.groupby('VisitorType')['ProductRelated'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    310
New_Visitor           94
Other                 30
Name: ProductRelated, dtype: int64

In [13]:
df.groupby('VisitorType')['ProductRelated_Duration'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    8319
New_Visitor          1559
Other                  69
Name: ProductRelated_Duration, dtype: int64

In [14]:
df.groupby('VisitorType')['BounceRates'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    1866
New_Visitor            78
Other                   5
Name: BounceRates, dtype: int64

In [15]:
df.groupby('VisitorType')['ExitRates'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    4611
New_Visitor           396
Other                  39
Name: ExitRates, dtype: int64

In [16]:
df.groupby('VisitorType')['PageValues'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    2323
New_Visitor           376
Other                  16
Name: PageValues, dtype: int64

In [17]:
df.groupby('VisitorType')['SpecialDay'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    6
New_Visitor          6
Other                1
Name: SpecialDay, dtype: int64

In [18]:
df.groupby('VisitorType')['Month'].nunique().sort_values(ascending=False)

VisitorType
Returning_Visitor    10
New_Visitor          10
Other                 3
Name: Month, dtype: int64

In [19]:
pd.pivot_table(df, values = 'ExitRates', index=['Month','Weekend'], columns = 'VisitorType').reset_index()

VisitorType Month  Weekend  New_Visitor     Other  Returning_Visitor
0             Aug    False     0.020423       NaN           0.041280
1             Aug     True     0.015680       NaN           0.042349
2             Dec    False     0.026048  0.055028           0.044248
3             Dec     True     0.022662  0.049838           0.046347
4             Feb    False     0.015385       NaN           0.073260
5             Feb     True          NaN       NaN           0.081163
6             Jul    False     0.018267       NaN           0.047388
7             Jul     True     0.025263       NaN           0.053901
8            June    False     0.019036  0.066159           0.062735
9            June     True     0.031744       NaN           0.061208
10            Mar    False     0.014070       NaN           0.051538
11            Mar     True     0.015920       NaN           0.039469
12            May    False     0.021488       NaN           0.053916
13            May     True     0.014559       NaN           0.044216
14            Nov    False     0.024046  0.083303           0.042508
15            Nov     True     0.021446  0.133333           0.033685
16            Oct    False     0.017851       NaN           0.030997
17            Oct     True     0.023033       NaN           0.034195
18            Sep    False     0.013302       NaN           0.035276
19            Sep     True     0.020088       NaN           0.035329

In [20]:
pd.pivot_table(df, values = 'BounceRates', index=['Month','Weekend'], columns = 'VisitorType').reset_index()

VisitorType Month  Weekend  New_Visitor     Other  Returning_Visitor
0             Aug    False     0.006954       NaN           0.020638
1             Aug     True     0.000397       NaN           0.021910
2             Dec    False     0.007899  0.028330           0.021990
3             Dec     True     0.003479  0.040000           0.026832
4             Feb    False     0.000000       NaN           0.044644
5             Feb     True          NaN       NaN           0.061864
6             Jul    False     0.002010       NaN           0.026199
7             Jul     True     0.010945       NaN           0.032047
8            June    False     0.010720  0.053355           0.038723
9            June     True     0.012778       NaN           0.033118
10            Mar    False     0.000492       NaN           0.026857
11            Mar     True     0.003490       NaN           0.016761
12            May    False     0.006650       NaN           0.030833
13            May     True     0.001810       NaN           0.022553
14            Nov    False     0.008053  0.060435           0.022644
15            Nov     True     0.004512  0.100000           0.015854
16            Oct    False     0.001507       NaN           0.013410
17            Oct     True     0.011508       NaN           0.015517
18            Sep    False     0.000543       NaN           0.015467
19            Sep     True     0.001047       NaN           0.017216

In [21]:
pd.pivot_table(df, values = 'ExitRates', index=['Month','Weekend'], columns = 'TrafficType').reset_index()

TrafficType,Month,Weekend,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,Aug,False,0.043781,0.019850,0.054198,0.028633,0.029050,0.024240,NaN,NaN,...,0.025998,NaN,0.068628,NaN,NaN,NaN,NaN,NaN,NaN,0.098681
1,Aug,True,0.043467,0.032571,0.032401,0.037833,0.015776,0.024342,NaN,NaN,...,NaN,NaN,0.064365,NaN,NaN,NaN,NaN,NaN,NaN,0.007692
2,Dec,False,0.053830,0.028156,0.060951,NaN,NaN,0.030950,0.011077,0.035297,...,0.042634,NaN,0.088444,NaN,NaN,NaN,NaN,NaN,NaN,0.055086
3,Dec,True,0.065570,0.028657,0.060782,NaN,NaN,0.046589,0.024938,0.026469,...,0.105556,NaN,0.053802,NaN,NaN,NaN,NaN,NaN,NaN,0.032386
4,Feb,False,0.069235,0.056114,0.084288,0.049773,0.038462,0.017845,0.080952,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Feb,True,0.084579,0.117747,0.086111,0.043032,0.114286,0.066667,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul,False,0.052390,0.026099,0.046841,0.032894,0.022734,0.034252,0.022338,NaN,...,NaN,NaN,0.072642,NaN,0.033333,NaN,NaN,NaN,NaN,0.048889
7,Jul,True,0.063028,0.014834,0.063144,0.052347,0.086869,NaN,NaN,NaN,...,NaN,NaN,0.075169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,June,False,0.060388,0.032386,0.062447,0.064916,0.043631,0.072256,0.002106,NaN,...,0.010598,NaN,0.099792,NaN,NaN,0.041270,NaN,NaN,NaN,0.039036
9,June,True,0.064596,0.026785,0.083301,0.068191,0.030735,NaN,NaN,NaN,...,0.100000,NaN,0.083741,NaN,0.039130,NaN,NaN,NaN,NaN,0.044444
10,Mar,False,0.065013,0.024957,0.057325,NaN,NaN,0.035610,0.024168,0.021211,...,0.061222,0.066667,0.067732,0.066667,NaN,NaN,NaN,NaN,NaN,NaN
11,Mar,True,0.048904,0.021211,0.041633,NaN,NaN,0.022536,0.015385,0.010827,...,0.028221,NaN,0.045225,0.014286,0.075000,NaN,NaN,NaN,NaN,NaN
12,May,False,0.055794,0.028906,0.067260,0.036932,0.033806,0.056667,0.032724,NaN,...,0.050608,NaN,0.074400,0.024610,0.105255,0.006362,NaN,0.035991,0.045986,0.069602
13,May,True,0.048044,0.032659,0.049150,0.036957,0.026494,0.043652,0.032101,NaN,...,0.042947,NaN,0.057323,0.020526,0.064159,NaN,0.075,0.078651,0.058823,0.038678
14,Nov,False,0.058124,0.026435,0.050049,0.020874,0.023163,0.042476,0.015495,0.038731,...,0.036094,NaN,0.067138,NaN,0.140833,NaN,NaN,NaN,NaN,0.043927
15,Nov,True,0.040026,0.022588,0.035623,0.017752,0.019521,0.034983,0.032468,0.024397,...,0.042639,NaN,0.055499,NaN,0.049880,NaN,NaN,NaN,NaN,0.038131
16,Oct,False,0.034452,0.018729,0.031793,0.028553,0.032529,0.016233,0.027500,NaN,...,0.026667,NaN,0.051668,NaN,NaN,NaN,NaN,NaN,NaN,0.034579
17,Oct,True,0.063408,0.017136,0.034158,0.031194,0.024819,NaN,0.025000,NaN,...,0.002381,NaN,0.041568,NaN,NaN,NaN,NaN,NaN,NaN,0.032893
18,Sep,False,0.037631,0.023638,0.034171,0.024484,0.024033,0.022238,0.035714,NaN,...,0.030000,NaN,0.045175,0.009524,NaN,NaN,NaN,NaN,NaN,NaN
19,Sep,True,0.059665,0.020987,0.033413,0.028294,0.014681,0.031331,NaN,NaN,...,NaN,NaN,0.047087,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
pd.pivot_table(df, values = 'BounceRates', index=['Month','Weekend'], columns = 'TrafficType').reset_index()

TrafficType,Month,Weekend,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,Aug,False,0.024861,0.005269,0.027069,0.013988,0.006408,0.005024,NaN,NaN,...,0.000027,NaN,0.043364,NaN,NaN,NaN,NaN,NaN,NaN,0.061389
1,Aug,True,0.022160,0.017480,0.012777,0.015002,0.001786,0.000000,NaN,NaN,...,NaN,NaN,0.042498,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,Dec,False,0.031279,0.007986,0.036110,NaN,NaN,0.006716,0.001429,0.013650,...,0.019413,NaN,0.064426,NaN,NaN,NaN,NaN,NaN,NaN,0.032663
3,Dec,True,0.048248,0.007972,0.040342,NaN,NaN,0.029471,0.004894,0.005975,...,0.066667,NaN,0.034622,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,Feb,False,0.043728,0.031404,0.053277,0.026786,0.000000,0.000000,0.038095,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Feb,True,0.077273,0.087888,0.069444,0.027222,0.100000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul,False,0.031383,0.008069,0.025491,0.013268,0.001925,0.001069,0.010056,NaN,...,NaN,NaN,0.052854,NaN,0.007143,NaN,NaN,NaN,NaN,0.018836
7,Jul,True,0.040849,0.003555,0.033901,0.033690,0.046801,NaN,NaN,NaN,...,NaN,NaN,0.046027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,June,False,0.033143,0.015282,0.038039,0.036339,0.031580,0.060070,0.000641,NaN,...,0.000000,NaN,0.081898,NaN,NaN,0.0,NaN,NaN,NaN,0.020280
9,June,True,0.039116,0.008233,0.037670,0.040533,0.006142,NaN,NaN,NaN,...,0.066667,NaN,0.068268,NaN,0.000000,NaN,NaN,NaN,NaN,0.011111
10,Mar,False,0.038867,0.006120,0.031333,NaN,NaN,0.004063,0.000407,0.003000,...,0.043007,0.0,0.036720,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
11,Mar,True,0.022517,0.005958,0.018893,NaN,NaN,0.008819,0.000000,0.001343,...,0.003984,NaN,0.013793,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
12,May,False,0.030149,0.010429,0.042919,0.015984,0.014599,0.032498,0.018838,NaN,...,0.026614,NaN,0.051038,0.002851,0.084196,0.0,NaN,0.021881,0.019427,0.044137
13,May,True,0.022764,0.014620,0.026281,0.016974,0.005454,0.023696,0.007229,NaN,...,0.021312,NaN,0.036388,0.003373,0.051934,NaN,0.05,0.050000,0.040928,0.007283
14,Nov,False,0.035401,0.008962,0.027991,0.006913,0.002505,0.023051,0.004781,0.019746,...,0.013835,NaN,0.048425,NaN,0.133333,NaN,NaN,NaN,NaN,0.027288
15,Nov,True,0.021944,0.005963,0.017021,0.004412,0.005000,0.007441,0.004545,0.009157,...,0.024203,NaN,0.040019,NaN,0.023958,NaN,NaN,NaN,NaN,0.024605
16,Oct,False,0.014222,0.004529,0.013445,0.009176,0.010889,0.000000,0.022222,NaN,...,0.000000,NaN,0.030533,NaN,NaN,NaN,NaN,NaN,NaN,0.020704
17,Oct,True,0.042440,0.003019,0.022043,0.014128,0.006631,NaN,0.006250,NaN,...,0.000000,NaN,0.007280,NaN,NaN,NaN,NaN,NaN,NaN,0.011826
18,Sep,False,0.017154,0.006852,0.014327,0.010905,0.002657,0.009286,0.014286,NaN,...,0.025000,NaN,0.027773,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
19,Sep,True,0.038438,0.003374,0.020955,0.009950,0.001250,0.000000,NaN,NaN,...,NaN,NaN,0.029222,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
pd.pivot_table(df, values = 'ExitRates', index=['Region','Weekend'], columns = 'VisitorType').reset_index()

VisitorType  Region  Weekend  New_Visitor     Other  Returning_Visitor
0                 1    False     0.021749  0.107729           0.048113
1                 1     True     0.019641  0.103571           0.040744
2                 2    False     0.023309  0.143077           0.047834
3                 2     True     0.026590       NaN           0.037087
4                 3    False     0.019981  0.091111           0.049173
5                 3     True     0.017379  0.133333           0.041243
6                 4    False     0.024347  0.095833           0.047411
7                 4     True     0.014667  0.012500           0.045424
8                 5    False     0.017328       NaN           0.048865
9                 5     True     0.016826       NaN           0.032464
10                6    False     0.016998  0.025000           0.050092
11                6     True     0.016229       NaN           0.044969
12                7    False     0.020472  0.058333           0.043111
13                7     True     0.017974       NaN           0.041748
14                8    False     0.022016  0.022222           0.046735
15                8     True     0.016208       NaN           0.034543
16                9    False     0.021067  0.045531           0.049920
17                9     True     0.028345  0.014773           0.045338

In [24]:
pd.pivot_table(df, values = 'BounceRates', index=['Region','Weekend'], columns = 'VisitorType').reset_index()

VisitorType  Region  Weekend  New_Visitor     Other  Returning_Visitor
0                 1    False     0.005598  0.068116           0.025847
1                 1     True     0.003820  0.100000           0.020556
2                 2    False     0.006092  0.120000           0.027259
3                 2     True     0.008872       NaN           0.016542
4                 3    False     0.004707  0.033333           0.026282
5                 3     True     0.003613  0.100000           0.021018
6                 4    False     0.010533  0.050000           0.025519
7                 4     True     0.001080  0.000000           0.023948
8                 5    False     0.005227       NaN           0.026380
9                 5     True     0.000625       NaN           0.014878
10                6    False     0.001924  0.000000           0.028175
11                6     True     0.003220       NaN           0.025384
12                7    False     0.007406  0.000000           0.023075
13                7     True     0.002689       NaN           0.021179
14                8    False     0.005282  0.000000           0.024145
15                8     True     0.002026       NaN           0.015613
16                9    False     0.004995  0.027701           0.025269
17                9     True     0.011653  0.000000           0.022988

In [25]:
pd.pivot_table(df, values = 'ExitRates', index=['Region','OperatingSystems'], columns = 'VisitorType').reset_index()

VisitorType,Region,OperatingSystems,New_Visitor,Other,Returning_Visitor
0,1,1,0.026475,0.102381,0.050073
1,1,2,0.017572,0.048792,0.043658
2,1,3,0.023537,0.200000,0.051764
3,1,4,0.025251,NaN,0.037666
4,1,5,NaN,NaN,0.024603
5,1,6,NaN,NaN,0.033333
6,1,7,0.016667,NaN,0.128788
7,1,8,0.017184,NaN,0.042489
8,2,1,0.030134,NaN,0.047472
9,2,2,0.016409,0.138462,0.042632
10,2,3,0.033014,0.150000,0.053523
11,2,4,0.017746,NaN,0.033036
12,2,6,NaN,NaN,0.022691
13,2,7,NaN,NaN,0.019376
14,2,8,0.200000,NaN,NaN
15,3,1,0.022825,0.083333,0.051556
16,3,2,0.018150,0.089333,0.040417
17,3,3,0.016906,0.200000,0.060243
18,3,4,0.020889,NaN,0.035718
19,3,6,0.022222,NaN,0.097184
20,3,7,NaN,NaN,0.053333
21,3,8,0.003704,NaN,0.063810
22,4,1,0.025108,0.066667,0.056759
23,4,2,0.020477,0.043056,0.039076
24,4,3,0.021843,0.200000,0.054926
25,4,4,0.015785,NaN,0.042743
26,4,5,NaN,NaN,0.085714
27,4,6,NaN,NaN,0.019108
28,4,8,NaN,NaN,0.075000
29,5,1,0.045864,NaN,0.048687
30,5,2,0.013859,NaN,0.044452
31,5,3,0.009145,NaN,0.046721
32,5,4,NaN,NaN,0.034486
33,5,8,NaN,NaN,0.003175
34,6,1,0.018204,NaN,0.044569
35,6,2,0.014015,0.025000,0.047680
36,6,3,0.020961,NaN,0.055851
37,6,4,0.027559,NaN,0.027176
38,6,7,NaN,NaN,0.062765
39,6,8,NaN,NaN,0.200000
40,7,1,0.033317,0.066667,0.047438
41,7,2,0.017690,NaN,0.038864
42,7,3,0.018794,0.050000,0.059070
43,7,4,0.004721,NaN,0.028568
44,7,8,0.006897,NaN,0.100000
45,8,1,0.035066,NaN,0.051712
46,8,2,0.014724,NaN,0.041645
47,8,3,0.017156,0.022222,0.042604
48,8,4,0.005283,NaN,0.030421
49,8,5,NaN,NaN,0.021429
50,9,1,0.023174,NaN,0.065020
51,9,2,0.019730,0.003077,0.042212
52,9,3,0.022264,NaN,0.065541
53,9,4,0.054167,NaN,0.030046
54,9,6,0.001471,NaN,0.120000
55,9,8,0.105000,0.045178,0.200000

In [26]:
pd.pivot_table(df, values = 'BounceRates', index=['Region','OperatingSystems'], columns = 'VisitorType').reset_index()

VisitorType,Region,OperatingSystems,New_Visitor,Other,Returning_Visitor
0,1,1,0.009835,0.066667,0.029238
1,1,2,0.001703,0.002899,0.020272
2,1,3,0.006820,0.200000,0.032852
3,1,4,0.011708,NaN,0.015564
4,1,5,NaN,NaN,0.000000
5,1,6,NaN,NaN,0.007500
6,1,7,0.000000,NaN,0.110606
7,1,8,0.000000,NaN,0.028968
8,2,1,0.007214,NaN,0.029104
9,2,2,0.003637,0.133333,0.019609
10,2,3,0.010241,0.100000,0.037578
11,2,4,0.000000,NaN,0.014510
12,2,6,NaN,NaN,0.001587
13,2,7,NaN,NaN,0.001075
14,2,8,0.200000,NaN,NaN
15,3,1,0.007632,0.000000,0.031283
16,3,2,0.003355,0.040000,0.016297
17,3,3,0.002855,0.200000,0.040488
18,3,4,0.000000,NaN,0.010684
19,3,6,0.022222,NaN,0.089067
20,3,7,NaN,NaN,0.000000
21,3,8,0.000000,NaN,0.050000
22,4,1,0.007870,0.000000,0.035755
23,4,2,0.007265,0.000000,0.016318
24,4,3,0.009712,0.200000,0.036280
25,4,4,0.013636,NaN,0.012939
26,4,5,NaN,NaN,0.039286
27,4,6,NaN,NaN,0.002967
28,4,8,NaN,NaN,0.000000
29,5,1,0.034848,NaN,0.029611
30,5,2,0.000160,NaN,0.020245
31,5,3,0.000000,NaN,0.032687
32,5,4,NaN,NaN,0.007246
33,5,8,NaN,NaN,0.000000
34,6,1,0.004312,NaN,0.025969
35,6,2,0.000837,0.000000,0.022459
36,6,3,0.004511,NaN,0.040470
37,6,4,0.000000,NaN,0.004352
38,6,7,NaN,NaN,0.028611
39,6,8,NaN,NaN,0.200000
40,7,1,0.017222,0.000000,0.029386
41,7,2,0.004567,NaN,0.017424
42,7,3,0.003047,0.000000,0.044513
43,7,4,0.000000,NaN,0.005196
44,7,8,0.000000,NaN,0.000000
45,8,1,0.012892,NaN,0.029132
46,8,2,0.000412,NaN,0.019720
47,8,3,0.003464,0.000000,0.021793
48,8,4,0.000000,NaN,0.004612
49,8,5,NaN,NaN,0.000000
50,9,1,0.004000,NaN,0.041645
51,9,2,0.004395,0.000000,0.015161
52,9,3,0.007012,NaN,0.049974
53,9,4,0.000000,NaN,0.012414
54,9,6,0.000000,NaN,0.100000
55,9,8,0.100000,0.027188,0.200000

In [27]:
pd.pivot_table(df, values = 'Revenue', index=['Region','OperatingSystems'], columns = 'VisitorType').reset_index()

VisitorType,Region,OperatingSystems,New_Visitor,Other,Returning_Visitor
0,1,1,0.265896,0.000000,0.134831
1,1,2,0.275568,0.000000,0.168910
2,1,3,0.144444,0.000000,0.104718
3,1,4,0.210526,NaN,0.159574
4,1,5,NaN,NaN,0.500000
5,1,6,NaN,NaN,0.000000
6,1,7,0.000000,NaN,0.000000
7,1,8,0.333333,NaN,0.000000
8,2,1,0.341463,NaN,0.133333
9,2,2,0.311688,0.333333,0.151943
10,2,3,0.111111,0.000000,0.144279
11,2,4,0.333333,NaN,0.161290
12,2,6,NaN,NaN,0.000000
13,2,7,NaN,NaN,1.000000
14,2,8,0.000000,NaN,NaN
15,3,1,0.149425,0.000000,0.116228
16,3,2,0.213836,0.000000,0.166983
17,3,3,0.181818,0.000000,0.090717
18,3,4,0.444444,NaN,0.168539
19,3,6,0.000000,NaN,0.000000
20,3,7,NaN,NaN,0.000000
21,3,8,1.000000,NaN,0.000000
22,4,1,0.297297,0.000000,0.120536
23,4,2,0.295775,0.000000,0.153398
24,4,3,0.111111,0.000000,0.112450
25,4,4,0.250000,NaN,0.097561
26,4,5,NaN,NaN,0.000000
27,4,6,NaN,NaN,0.200000
28,4,8,NaN,NaN,0.000000
29,5,1,0.333333,NaN,0.088235
30,5,2,0.487179,NaN,0.116959
31,5,3,0.200000,NaN,0.070175
32,5,4,NaN,NaN,0.600000
33,5,8,NaN,NaN,0.000000
34,6,1,0.307692,NaN,0.150000
35,6,2,0.287879,0.000000,0.116992
36,6,3,0.115385,NaN,0.083333
37,6,4,0.666667,NaN,0.230769
38,6,7,NaN,NaN,0.000000
39,6,8,NaN,NaN,0.000000
40,7,1,0.214286,0.000000,0.103448
41,7,2,0.212121,NaN,0.166307
42,7,3,0.235294,0.000000,0.094737
43,7,4,0.500000,NaN,0.076923
44,7,8,1.000000,NaN,0.000000
45,8,1,0.333333,NaN,0.094737
46,8,2,0.162162,NaN,0.166667
47,8,3,0.000000,0.000000,0.086957
48,8,4,0.500000,NaN,0.111111
49,8,5,NaN,NaN,0.000000
50,9,1,0.300000,NaN,0.116667
51,9,2,0.318841,1.000000,0.131579
52,9,3,0.125000,NaN,0.042553
53,9,4,0.000000,NaN,0.192308
54,9,6,1.000000,NaN,0.000000
55,9,8,0.000000,0.259259,0.000000

In [28]:
pd.pivot_table(df, values = 'Revenue', index=['Month','Weekend'], columns = 'VisitorType').reset_index()

VisitorType Month  Weekend  New_Visitor     Other  Returning_Visitor
0             Aug    False     0.395833       NaN           0.155709
1             Aug     True     0.083333       NaN           0.138889
2             Dec    False     0.234848  0.210526           0.099038
3             Dec     True     0.183099  0.200000           0.086207
4             Feb    False     0.000000       NaN           0.012903
5             Feb     True          NaN       NaN           0.035714
6             Jul    False     0.195122       NaN           0.146341
7             Jul     True     0.230769       NaN           0.142857
8            June    False     0.291667  0.000000           0.078704
9            June     True     0.000000       NaN           0.121951
10            Mar    False     0.170213       NaN           0.080156
11            Mar     True     0.131868       NaN           0.135897
12            May    False     0.277778       NaN           0.083230
13            May     True     0.270588       NaN           0.120635
14            Nov    False     0.311644  0.150000           0.240633
15            Nov     True     0.291339  0.000000           0.261329
16            Oct    False     0.250000       NaN           0.199377
17            Oct     True     0.175000       NaN           0.221154
18            Sep    False     0.232558       NaN           0.165414
19            Sep     True     0.363636       NaN           0.189189

In [29]:
pd.pivot_table(df, values = 'Revenue', index=['Month','Weekend'], columns = 'TrafficType').reset_index()

TrafficType,Month,Weekend,1,2,3,4,5,6,7,8,...,11,12,13,14,15,16,17,18,19,20
0,Aug,False,0.137500,0.280000,0.133333,0.189655,0.400000,0.200000,NaN,NaN,...,0.000000,NaN,0.040000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,Aug,True,0.115385,0.120000,0.000000,0.235294,0.142857,0.000000,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
2,Dec,False,0.079422,0.170492,0.042553,NaN,NaN,0.162162,0.500000,0.106061,...,0.125000,NaN,0.020833,NaN,NaN,NaN,NaN,NaN,NaN,0.213333
3,Dec,True,0.103774,0.098266,0.050000,NaN,NaN,0.000000,0.250000,0.250000,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.250000
4,Feb,False,0.038462,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Feb,True,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul,False,0.150000,0.122449,0.057692,0.298507,0.142857,0.250000,0.000000,NaN,...,NaN,NaN,0.060606,NaN,0.0,NaN,NaN,NaN,NaN,0.000000
7,Jul,True,0.166667,0.370370,0.062500,0.000000,0.000000,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,June,False,0.089286,0.156863,0.035714,0.066667,0.222222,0.000000,1.000000,NaN,...,0.333333,NaN,0.035714,NaN,NaN,1.0,NaN,NaN,NaN,0.333333
9,June,True,0.142857,0.153846,0.111111,0.000000,0.250000,NaN,NaN,NaN,...,0.000000,NaN,0.000000,NaN,0.0,NaN,NaN,NaN,NaN,0.000000
10,Mar,False,0.043557,0.162095,0.027027,NaN,NaN,0.148148,0.333333,0.213115,...,0.066667,0.0,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
11,Mar,True,0.084906,0.192547,0.079646,NaN,NaN,0.000000,1.000000,0.280000,...,0.285714,NaN,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN
12,May,False,0.068323,0.167286,0.061321,0.138000,0.187500,0.081218,0.000000,NaN,...,0.092593,NaN,0.038596,0.250000,0.0,0.0,NaN,0.0,0.0,0.100000
13,May,True,0.095238,0.157895,0.104167,0.175610,0.227273,0.092593,0.000000,NaN,...,0.160000,NaN,0.041667,0.166667,0.0,NaN,0.0,0.0,0.2,0.333333
14,Nov,False,0.199438,0.291167,0.185294,0.083333,0.375000,0.136364,0.444444,0.366972,...,0.298246,NaN,0.112583,NaN,0.0,NaN,NaN,NaN,NaN,0.266667
15,Nov,True,0.200000,0.329231,0.191176,0.250000,0.200000,0.208333,0.500000,0.379310,...,0.250000,NaN,0.095238,NaN,0.0,NaN,NaN,NaN,NaN,0.090909
16,Oct,False,0.142857,0.268966,0.153846,0.179487,0.206897,0.285714,0.000000,NaN,...,0.000000,NaN,0.095238,NaN,NaN,NaN,NaN,NaN,NaN,0.333333
17,Oct,True,0.230769,0.229508,0.125000,0.062500,0.000000,NaN,0.500000,NaN,...,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.666667
18,Sep,False,0.139535,0.252336,0.159091,0.162791,0.157895,0.375000,0.000000,NaN,...,0.000000,NaN,0.086957,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
19,Sep,True,0.157895,0.216216,0.200000,0.200000,0.400000,0.500000,NaN,NaN,...,NaN,NaN,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
pd.pivot_table(df, values = 'Revenue', index=['VisitorType','OperatingSystems'], columns = 'Browser').reset_index()

Browser,VisitorType,OperatingSystems,1,2,3,4,5,6,7,8,9,10,11,12,13
0,New_Visitor,1,0.258065,0.222222,NaN,1.000000,0.000000,NaN,NaN,0.272727,NaN,NaN,NaN,NaN,NaN
1,New_Visitor,2,0.500000,0.252101,NaN,0.365079,0.363636,0.222222,0.000000,NaN,NaN,0.285714,NaN,NaN,1.000000
2,New_Visitor,3,NaN,0.146341,0.047619,NaN,0.500000,0.000000,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,New_Visitor,4,0.342857,0.200000,NaN,NaN,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,New_Visitor,6,NaN,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,New_Visitor,7,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,New_Visitor,8,0.000000,0.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Other,1,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Other,2,NaN,0.000000,NaN,0.333333,0.500000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
9,Other,3,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Other,8,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269231
11,Returning_Visitor,1,0.121816,0.162393,NaN,0.000000,0.000000,0.000000,NaN,0.132743,NaN,0.000000,NaN,NaN,0.000000
12,Returning_Visitor,2,0.500000,0.162399,0.000000,0.132670,0.155496,0.109589,0.161290,NaN,NaN,0.188406,NaN,0.0,0.250000
13,Returning_Visitor,3,1.000000,0.101295,0.048193,NaN,0.000000,0.222222,0.111111,NaN,0.0,NaN,NaN,0.6,0.000000
14,Returning_Visitor,4,0.143443,0.174497,NaN,1.000000,0.277778,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Returning_Visitor,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.166667,NaN,NaN
16,Returning_Visitor,6,NaN,0.076923,NaN,NaN,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
17,Returning_Visitor,7,0.166667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Returning_Visitor,8,0.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000

In [31]:
pd.pivot_table(df, values = 'Revenue', index=['VisitorType','OperatingSystems'], columns = 'Region').reset_index()

Region,VisitorType,OperatingSystems,1,2,3,4,5,6,7,8,9
0,New_Visitor,1,0.265896,0.341463,0.149425,0.297297,0.333333,0.307692,0.214286,0.333333,0.300000
1,New_Visitor,2,0.275568,0.311688,0.213836,0.295775,0.487179,0.287879,0.212121,0.162162,0.318841
2,New_Visitor,3,0.144444,0.111111,0.181818,0.111111,0.200000,0.115385,0.235294,0.000000,0.125000
3,New_Visitor,4,0.210526,0.333333,0.444444,0.250000,NaN,0.666667,0.500000,0.500000,0.000000
4,New_Visitor,6,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,1.000000
5,New_Visitor,7,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,New_Visitor,8,0.333333,0.000000,1.000000,NaN,NaN,NaN,1.000000,NaN,0.000000
7,Other,1,0.000000,NaN,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN
8,Other,2,0.000000,0.333333,0.000000,0.000000,NaN,0.000000,NaN,NaN,1.000000
9,Other,3,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,NaN
10,Other,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.259259
11,Returning_Visitor,1,0.134831,0.133333,0.116228,0.120536,0.088235,0.150000,0.103448,0.094737,0.116667
12,Returning_Visitor,2,0.168910,0.151943,0.166983,0.153398,0.116959,0.116992,0.166307,0.166667,0.131579
13,Returning_Visitor,3,0.104718,0.144279,0.090717,0.112450,0.070175,0.083333,0.094737,0.086957,0.042553
14,Returning_Visitor,4,0.159574,0.161290,0.168539,0.097561,0.600000,0.230769,0.076923,0.111111,0.192308
15,Returning_Visitor,5,0.500000,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN
16,Returning_Visitor,6,0.000000,0.000000,0.000000,0.200000,NaN,NaN,NaN,NaN,0.000000
17,Returning_Visitor,7,0.000000,1.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN
18,Returning_Visitor,8,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000

In [32]:
pd.pivot_table(df, values = 'Revenue', index=['Region','OperatingSystems'], columns = 'VisitorType').reset_index()

VisitorType,Region,OperatingSystems,New_Visitor,Other,Returning_Visitor
0,1,1,0.265896,0.000000,0.134831
1,1,2,0.275568,0.000000,0.168910
2,1,3,0.144444,0.000000,0.104718
3,1,4,0.210526,NaN,0.159574
4,1,5,NaN,NaN,0.500000
5,1,6,NaN,NaN,0.000000
6,1,7,0.000000,NaN,0.000000
7,1,8,0.333333,NaN,0.000000
8,2,1,0.341463,NaN,0.133333
9,2,2,0.311688,0.333333,0.151943
10,2,3,0.111111,0.000000,0.144279
11,2,4,0.333333,NaN,0.161290
12,2,6,NaN,NaN,0.000000
13,2,7,NaN,NaN,1.000000
14,2,8,0.000000,NaN,NaN
15,3,1,0.149425,0.000000,0.116228
16,3,2,0.213836,0.000000,0.166983
17,3,3,0.181818,0.000000,0.090717
18,3,4,0.444444,NaN,0.168539
19,3,6,0.000000,NaN,0.000000
20,3,7,NaN,NaN,0.000000
21,3,8,1.000000,NaN,0.000000
22,4,1,0.297297,0.000000,0.120536
23,4,2,0.295775,0.000000,0.153398
24,4,3,0.111111,0.000000,0.112450
25,4,4,0.250000,NaN,0.097561
26,4,5,NaN,NaN,0.000000
27,4,6,NaN,NaN,0.200000
28,4,8,NaN,NaN,0.000000
29,5,1,0.333333,NaN,0.088235
30,5,2,0.487179,NaN,0.116959
31,5,3,0.200000,NaN,0.070175
32,5,4,NaN,NaN,0.600000
33,5,8,NaN,NaN,0.000000
34,6,1,0.307692,NaN,0.150000
35,6,2,0.287879,0.000000,0.116992
36,6,3,0.115385,NaN,0.083333
37,6,4,0.666667,NaN,0.230769
38,6,7,NaN,NaN,0.000000
39,6,8,NaN,NaN,0.000000
40,7,1,0.214286,0.000000,0.103448
41,7,2,0.212121,NaN,0.166307
42,7,3,0.235294,0.000000,0.094737
43,7,4,0.500000,NaN,0.076923
44,7,8,1.000000,NaN,0.000000
45,8,1,0.333333,NaN,0.094737
46,8,2,0.162162,NaN,0.166667
47,8,3,0.000000,0.000000,0.086957
48,8,4,0.500000,NaN,0.111111
49,8,5,NaN,NaN,0.000000
50,9,1,0.300000,NaN,0.116667
51,9,2,0.318841,1.000000,0.131579
52,9,3,0.125000,NaN,0.042553
53,9,4,0.000000,NaN,0.192308
54,9,6,1.000000,NaN,0.000000
55,9,8,0.000000,0.259259,0.000000

In [33]:
pd.pivot_table(df, values = 'Revenue', index=['Region','TrafficType'], columns = 'VisitorType').reset_index()

VisitorType  Region  TrafficType  New_Visitor    Other  Returning_Visitor
0                 1            1     0.111111  0.00000           0.100811
1                 1            2     0.226471  0.00000           0.227311
2                 1            3     0.245902  0.00000           0.077017
3                 1            4     0.400000      NaN           0.142045
4                 1            5     0.318841      NaN           0.129630
..              ...          ...          ...      ...                ...
137               9            9          NaN      NaN           0.000000
138               9           10     0.500000      NaN           0.166667
139               9           11     0.500000      NaN           0.250000
140               9           13          NaN      NaN           0.107143
141               9           20     0.571429  0.27451           0.071429

[142 rows x 5 columns]

In [34]:
pd.pivot_table(df, values = 'Administrative', index=['Region','TrafficType'], columns = 'VisitorType').reset_index()

VisitorType  Region  TrafficType  New_Visitor  Other  Returning_Visitor
0                 1            1     1.111111    0.0           1.833140
1                 1            2     2.208824    1.5           3.015820
2                 1            3     2.950820    0.0           1.684597
3                 1            4     1.950000    NaN           2.213068
4                 1            5     3.463768    NaN           2.777778
..              ...          ...          ...    ...                ...
137               9            9          NaN    NaN           1.000000
138               9           10     2.500000    NaN           2.444444
139               9           11     0.000000    NaN           1.750000
140               9           13          NaN    NaN           1.857143
141               9           20     3.428571    2.0           0.357143

[142 rows x 5 columns]